@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #254222;
  --color-secondary: #99cc66;
  --color-tertiary: #83a466;
}

.shape-divider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-divider svg {
  position: relative;
  display: block;
}

.shape-divider .shape-fill {
  fill: var(--color-primary);
}
