---
import ContactForm from '@/components/ContactForm.astro';
---

<section id="contact" class="max-w-[1200px] max-xl:px-10 mx-auto py-20">
  <h2 class="text-center text-3xl mb-10 font-extrabold">CONTACTO</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div>
      <p class="text-xl">¡Hablemos! Estoy aquí para ayudarte</p>

      <p class="text-lg mt-3 mb-5 text-pretty">
        Si tienes dudas, necesitas más información sobre mis servicios o quieres saber cuál es la mejor opción para ti, ponte en contacto
        conmigo:
      </p>
    </div>

    <ContactForm />
  </div>
</section>
